---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='26 Novembre' %}

  <div class="schedule" data-dates="11-26">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='09.15-09.30' title='Presentazione GrUSP' fill='true' %}

        {% include schedule/talk.html time='09.30-10.15' title="Applicazioni \"Modulitiche\""  fill='true' %}
        {% include schedule/talk.html time='10.15-11.00' title="Laravel Authentication Deep Dive"  fill='true' %}

        {% include schedule/pause.html time='11.00-11.30' title='Break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='11.30-12.15' title='Come ho sviluppato e scalato un prodotto SaaS grazie a Laravel' fill='true' %}
        {% include schedule/talk.html time='12.15-13.00' title="LiveWire Hands-on, frontend moderno senza toccare una riga di javascript" fill='true' %}

        {% include schedule/pause.html time='13.00-14.00' title='Lunch' icon="food" fill='true' %}

        {% include schedule/talk.html time='14.00-14.45' title='How can I trust my test suite?' fill='true' %}
        {% include schedule/talk.html time='14.45-15.30' title='Organizzazione del codice su Laravel' fill='true' %}

        {% include schedule/pause.html time='15.30-15.45' title='Short break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='15.45-16.45' title='Multi-tenancy in Laravel' fill='true' %}

        {% include schedule/event.html time='16.45-17.00' title='Bye bye from GrUSP' fill='true' %}
      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="11-26">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='09.15-09.30' title='Presentazione GrUSP' fill='true' %}

        {% include schedule/talk.html time='09.30-10.15' title="Applicazioni \"Modulitiche\""  fill='true' %}
        {% include schedule/talk.html time='10.15-11.00' title="Laravel Authentication Deep Dive"  fill='true' %}

        {% include schedule/pause.html time='11.00-11.30' title='Break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='11.30-12.15' title='Come ho sviluppato e scalato un prodotto SaaS grazie a Laravel' fill='true' %}
        {% include schedule/talk.html time='12.15-13.00' title="LiveWire Hands-on, frontend moderno senza toccare una riga di javascript" fill='true' %}

        {% include schedule/pause.html time='13.00-14.00' title='Lunch' icon="food" fill='true' %}

        {% include schedule/talk.html time='14.00-14.45' title='How can I trust my test suite?' fill='true' %}
        {% include schedule/talk.html time='14.45-15.30' title='Organizzazione del codice su Laravel' fill='true' %}

        {% include schedule/pause.html time='15.30-15.45' title='Short break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='15.45-16.45' title='Multi-tenancy in Laravel' fill='true' %}

        {% include schedule/event.html time='16.45-17.00' title='Bye bye from GrUSP' fill='true' %}
      </tbody>
    </table>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
