---
title: "Applicazioni complesse con Laravel: architetture package-based"
---

<div class="limit">
  
  <div class="intro intro--no-height">
    <h1 class="intro__title">Applicazioni complesse con Laravel: architetture package-based</h1>
  </div>
  
  <h1 class="row__title">Il workshop si svolge online, in aula virtuale.</h1>
  <h3 class="row__title">La durata del workshop è di 8 ore, suddivise in due mattine, Venerdì 27 Novembre e Lunedì 30 Novembre 2020 dalle 9 alle 13.</h3>
  <h3 class="row__title">Un workshop realizzato in collaborazione con
    <a href="https://www.linkedin.com/in/robertogallea/">Roberto Gallea</a>.
  </h3>

  <div class="row row--2">
    <div class="row__column">
      Il workshop ha l'obiettivo di sviluppare un'applicazione con Laravel sviluppata in "moduli" implementati come
      package separati, quanto più possibile indipendenti fra loro, ottenendo una soluzione intermedia fra il monolite e
      l'architettura service-based. Questa modalità comprende gran parte dei vantaggi di entrambi e ne limita i
      rispettivi svantaggi.<br /><br />

      Verranno affrontati sia aspetti teorici che pratici:<br />

      <ul>
        <li>Principi di Clean Architecture (disaccoppiamento, coesione dei moduli, eliminazione dei cicli di dipendenze, etc.)</li>
        <li>Sviluppo di package Laravel (Service Provider, Facade, Configurazione, etc.)</li>
        <li>TDD ed Integration testing (Test in isolamento, mockups, dummy objects)</li>
        <li>Riuso dei package per customizzare le applicazioni</li>
      </ul>
    </div>

    <div class="row__column">
      Cosa ottieni frequentando questo workshop:<br />

      <ul>
        <li>Capacità di sviluppare package Laravel</li>
        <li>Capacità di sapere sviluppare applicazioni modulari in modo corretto</li>
        <li>Conoscenza applicativa della gestione delle dipendenze all'interno del codice</li>
        <li>Capacità di applicare l'Isolation testing di singoli moduli</li>
        <li>Bonus tips</li>
      </ul>
    </div>

    <p class="row__column">
      <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
    </p>

  </div>

  <hr class="hr">

  <h2 class="row__title">Programma</h2>
  
  <div class="row row--1">
    <div class="row__column">
      <div class="row__text">
        Cosa è l’architettura package-based
        <ul>
          <li>Overview teorica</li>
          <li>Quando e perché usarla</li>
        </ul>
        Sviluppo di package Laravel
        <ul>
          <li>Introduzione ai package di composer</li>
          <li>Sviluppo ed implementazione di un package Laravel</li>
        </ul>
        Buone prassi per lo sviluppo di applicazioni package-based
        <ul>
          <li>Minimizzazione delle dipendenze</li>
          <li>Rimozione dei cicli</li>
          <li>Individuazione e definizione dei boundaries</li>
          <li>Integration testing, test doubles, dummy classes and mocks</li>
        </ul>
        Hands-on
        <ul>
          <li>Applicazione delle tecniche apprese per l'implementazione di un caso d'uso reale su Laravel</li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr class="hr">
  
  <div class="row row--2">
    <div class="row__column">
      <h3 class="column__title">Requisiti di partecipazione</h3>
      <div class="row__text">
        <ul>
          <li>(Necessaria) Conoscenza base/intermedia di Laravel</li>
          <li>(Consigliata) Conoscenza base di composer</li>
          <li>(Consigliata) Conoscenza base di utilizzo di PHPUnit</li>
        </ul>
      </div>
    </div>
    
    <p class="row__column">
    </p>
    
    <p class="row__column">
      <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
    </p>
    
  </div>
  
  <hr class="hr">
  
  <div class="intro intro--no-height">
    <h1 class="column__title"><a href="{{ site.data.tickets.url }}">Iscriviti ora</a> i posti sono limitati</h1>
  </div>
  
</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
